<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>{{ .Title }} : Records Sound the Same</title>
    <meta name="description" content="{{ .Description }}" />
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="author" content="Records Sound the Same" />
    <meta name="robots" content="index,follow" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@RecordsSoundTS" />
    <meta name="twitter:creator" content="@RecordsSoundTS" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}Records Sound the Same is an independent digital transformation and strategic consultancy{{ end }}" />
    <meta property="og:image" content="http://recordssoundthesame.com{{ if .Params.headerimg }}{{ .Params.headerimg }}{{ else }}/img/logo/RSTSlogo-share.png{{ end }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=r17.01">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=r17.01">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=r17.01">
    <link rel="manifest" href="/manifest.json?v=r17.01">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=r17.01" color="#6bbcb6">
    <link rel="shortcut icon" href="/favicon.ico?v=r17.01">
    <meta name="theme-color" content="#ffffff">
    <link href="/blog/index.xml" rel="alternate feed" type="application/rss+xml" title="Records Sound the Same blog RSS" />
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css" />
</head>
<body>
