<div class="intro-banner callout large">
<div class="row">
    <div class="column small-12 large-9 large-centered">
        <h1><span style="color:#305A5C;">Records Sound the Same</span><br / />is an independent digital transformation &amp; strategic consultancy</h1>
        <p class="lead">We work with our clients to help them <span class="intro-banner-hl">use digital technologies</span> to <span class="intro-banner-hl">fix problems</span>, achieve <span class="intro-banner-hl">goals</span>, and meet the needs of <span class="intro-banner-hl">customers</span>.</p>
    </div>
</div>
</div>

<div class="bg-tm">
    <canvas id="canvas" height="100px"></canvas>
</div>
