<div class="intro-banner callout large">
<div class="row">
    <div class="column small-12 large-9 large-centered">
        <h1><span style="color:#305A5C;">Records Sound the Same</span><br / /><span style="text-decoration: line-through;">is</span> was an independent digital transformation &amp; strategic consultancy</h1>
        <p class="lead">The company is currently hibernating, and is <span class="intro-banner-hl">not taking on new work</span> for the forseeable future. If that changes we'll let you know...<br />In the meantime, below is some information on what we did.</p>
    </div>
</div>
</div>

<div class="bg-tm">
    <canvas id="canvas" height="100px"></canvas>
</div>
