<section class="marketing-site-three-up">
  <div class="row medium-unstack">
    <div class="columns">
        <img src="/img/icons/svg/postit.svg" class="marketing-icon" />
        <h4 class="marketing-site-three-up-title">Digital transformation</h4>
        <p class="marketing-site-three-up-desc">Choosing and updating technology, digitising processes, changing culture, setting strategy and relationships with digital.</p>
    </div>
    <div class="columns">
        <img src="/img/icons/svg/computer.svg" class="marketing-icon" />
        <h4 class="marketing-site-three-up-title">Consultancy</h4>
        <p class="marketing-site-three-up-desc">Expert advice and recommendations to help you - whether it's around an individual project or particular need, or providing wider guidance.</p>
    </div>
    <div class="columns">
        <img src="/img/icons/svg/books.svg" class="marketing-icon" />
        <h4 class="marketing-site-three-up-title">Coaching &amp; training</h4>
        <p class="marketing-site-three-up-desc">All of our projects aim to leave you with new skills, but we also provide specific one-on-one training, coaching, and workshops.</p>
    </div>
  </div>
</section>
