<div class="marketing-site-content-section">
    <div class="marketing-site-content-section-img">
        <div class="clip-l-slope-bdr">
          <img src="/img/layout/post-it-sun.jpg" class="clip-l-slope" alt="" />
        </div>
    </div>
    <div class="marketing-site-content-section-block">
        <h3>Records Sound the Same was formed in 2014</h3>
        <p>We originally focused on discovery and planning for websites - uncovering user and business needs, potential opportunities, and what these might mean in terms of design and technology selection.</p>

        <p>Since then, whilst planning websites is still something that people need, we’ve found that our most successful projects have been when we’ve also looked <strong><em>beyond</em> the browser</strong>, as a driver for more fundamental transformation and benefits.</p>
        <p><strong>Websites are a starting point, but if you really want to make a difference, looking underneath at all of the related systems, processes, people and strategy are just as important.</strong></p>

        <a href="#" class="button">Our story</a>
    </div>
    <div class="marketing-site-content-section-block small-order-2 medium-order-1">
        <h3 class="marketing-site-content-section-block-header">Thinking beyond websites</h3>
        <p>We look beyond <em>just</em> websites, and instead take a holistic view of working with the web in order to help make meaningful change happen for the people we work with — whether that’s across systems and products, processes, strategy, or culture.</p>

        <p>We’re an independent, technology agnostic, embedded partner who can understand your specific situation as well as helping to give you recommendations and skills to transform how you work.</p>
        <a href="#" class="button">What we do</a>
    </div>
    <div class="marketing-site-content-section-img small-order-1 medium-order-2">
        <div class="clip-r-slope-bdr">
            <img src="https://images.pexels.com/photos/300857/pexels-photo-300857.jpeg?h=350&auto=compress&cs=tinysrgb" class="clip-r-slope"  alt="" />
        </div>
    </div>
</div>
