<section class="bg-tm">
<div class="row column align-center top-bar-impholder">
    <nav class="top-bar topbar-responsive topbar-fix">
        <div class="top-bar-title">
            <span data-responsive-toggle="topbar-responsive" data-hide-for="large">
                <button class="menu-icon" type="button" data-toggle></button>
            </span>
            <a class="topbar-responsive-logo" href="/">
                <img src="/img/logo/RSTSlogo.png" alt="Records Sound the Same logo" />
            </a>
        </div>
        <div id="topbar-responsive" class="topbar-responsive-links" role="navigation">
            <div class="top-bar-right">
                <ul class="vertical large-horizontal menu" data-responsive-menu="large-dropdown">
                    
                    <li><a href="/blog/">Blog</a></li>
                    <li>
                        <a href="/contact/"><button type="button" class="button hollow topbar-responsive-button">Contact</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</section>
