//Blog single post
.large-article-header {
    padding-top: 3em;
    padding-bottom: 3em;
}

.large-article-header-content .article-date {
  color: #fefefe;
}

.large-article-header-content .article-title h1 {
  line-height: 3.2rem;
  color: #fefefe;
}

@media screen and (max-width: 39.9375em) {
    .large-article-header-content .article-title h1 {
        line-height: 3rem;
    }
}

.large-article-header-content .article-details {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;

    a {
        color: #fefefe;
    }
}

.large-article-header-content .article-author {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
    margin: 1rem 0 0 0;
    color: #fefefe;

    img {
        margin-right: 1em;
        border-radius: 50%;
        max-width: 80px;
    }
}

.large-article-header-content .article-comments {
    margin: 1rem 0 0 0;

}
