$rsts-teal-dark:#4a8c8f;
$rsts-teal-mid:#6bbcb6;
$rsts-teal-light:#a3d2cb;
$rsts-blue-dark:#3c63a0;
$rsts-blue-mid:#628aba;
$rsts-blue-light:#96c0dc;
$rsts-orange-dark:#e36a58;
$rsts-orange-mid:#efa987;
$rsts-orange-light:#f1d6b7;
$rsts-yellow:#f5d793;

$rsts-whitebg:#FBF6EF;
$rsts-darkbg:#2E3232;
$rsts-grey-mid:#969696;
$rsts-whitebg-alt:#f6ebdb;
