{{ partial "base" . }}
{{ partial "thirdparty/ga" . }}
{{ partial "nav" . }}

<div id="waveholder" class="topbar-unfix">

    <div class="intro-banner callout large">
    <div class="row" style="justify-content: center;">
        <div class="column small-12 large-9">
            <h1 style="color:#305A5C;">{{ .Title }}</h1>
            <p style="font-size:1.7em;">We've already done a lot of work that we're proud of, but we're always looking to do more.</p>
            <p style="font-size:1.2em;">Find out about our products and services, what we specialise in, how we work, and how we might be able to help you.</p>
        </div>
    </div>
    </div>

    <div class="bg-tm">
        <canvas id="canvas" height="100px"></canvas>
    </div>

    <section>
        <div class="row breathe-b" style="justify-content: center;">
        <div class="medium-9 column">
            <p>We’re a consultancy. We work <em>with</em> organisations to face their digital challenges, build teams, and change their processes. Our aim is to leave everything better than when we arrived, and for you to have learnt something along the way. We’re technology agnostic, and will make our recommendations based on your specific situation.</p>

            <p>We’re used to working on challenges posed by hugely different situations, and whether a project involves your main website, internal systems and processes, your strategy, or up-skilling teams  — we can help, and we can make change stick. This, to us, is real digital transformation. If you’re keen to make improvements and if you want help making change happen, we can do that in a few ways.</p>
        </div>
        </div>
    </section>

    <div class="bg-slope-top bg-main-alt"></div>
    <section class="bg-main-alt">
        <div class="row breathe-t breathe-b" style="justify-content: center;">
        <div class="small-12 column">
            <h2 class="text-center">Our services</h2>
            <div class="row">
                <div class="column small-12 large-4 text-center impact-list-text">
                    <p>Digital transformation</p>
                    <p>Service design</p>
                    <p>Innovation</p>
                    <p>Setting strategy</p>
                </div>
                <div class="column small-12 large-4 text-center impact-list-text">
                    <p>Project discovery &amp; definition</p>
                    <p>User research &amp; testing</p>
                    <p>Solutions architecture</p>
                    <p>Prototyping</p>
                </div>
                <div class="column small-12 large-4 text-center impact-list-text">
                    <p>Technology selection</p>
                    <p>Data analysis</p>
                    <p>Coaching &amp; mentoring</p>
                    <p>Workshops</p>
                </div>
            </div>
        </div>
        </div>
    </section>
    <div class="bg-slope-btm bg-main-alt"></div>

    <section>
        <h2 class="text-center">What do you need help with?</h2>

        <div class="row breathe-t breathe-b">
            <div class="small-12 medium-5 columns">
                <img class="image-soften-shape" src="/img/layout/wallflow.jpg">
            </div>
            <div class="small-12 medium-7 columns breathe-t">
                <h3>A project</h3>
                <p>If you're planning a website, app, or want to improve something internally, we can work with you in the early stages to identify what your options are. We'd typically work with you on <strong>discovery</strong>, <strong>definition</strong>, <strong>prototyping</strong> and <strong>planning solutions</strong>.</p>
                <p>This includes researching areas of problems and opportunity, uncovering what needs should be met, what options are available to meet these, and planning the details of how best to get you where you need to. Because we're technology agnostic, we won't be coming in with pre-set ideas that we push on you.</p>
                <a href="/services/project/" class="button large">Projects</a>
            </div>
        </div>

        <div class="row breathe-t breathe-b">
            <div class="small-12 medium-5 columns">
                <img class="image-soften-shape-alt" src="/img/layout/pencil.jpg">
            </div>
            <div class="small-12 medium-7 columns breathe-t">
                <h3>Wider digital strategy and transformation</h3>
                <p>Perhaps you want to make your business processes or systems simpler, easier, faster, cheaper to run, or nicer to use? It could be that you have tedious, manual tasks that you want to digitise. You may need help setting your digital strategy for the future, and selecting appropriate technologies. Maybe you need help building the right team to support this, or teaching them new skills. Or possibly all of the above!</p>
                <p>If an outside influence and fresh view is needed, we can provide you with independent advice and direction, identifying gaps in your direction or areas of opportunity for you to make improvements with digital. Whether it's an assessment of your current situation, strategy and roadmapping the future, updating older systems, using digital to transform business processes and improve user experiences, or structuring and interviewing teams, we can help.</p>
                <a href="/services/consultancy/" class="button large">Consultancy</a>
            </div>
        </div>

        <div class="row breathe-t breathe-b">
            <div class="small-12 medium-5 columns">
                <img class="image-soften-shape-alt" src="/img/layout/lead.jpg">
            </div>
            <div class="small-12 medium-7 columns breathe-t">
                <h3>Interim leadership - CTO or CDO</h3>
                <p>Whether you're a startup looking for some guidance and a sense check before starting your next phase, or an established company wanting to shift direction or cover a gap in personnel, we can also help with temporary leadership and short term impact. Both intensive interim cover or on-going relationships are possible, depending on your situation.</p>
                <a href="/services/consultancy/" class="button large">Consultancy</a>
            </div>
        </div>

        <div class="row breathe-t breathe-b">
            <div class="small-12 medium-5 columns">
                <img class="image-soften-shape" src="/img/layout/people.jpg">
            </div>
            <div class="small-12 medium-7 columns breathe-t">
                <h3>Learning skills</h3>
                <p>Maybe you’re looking to improve the skills and knowledge within your company, so that you can do a lot of this work yourself?</p>
                <p>With all of our projects, one of our goals is to leave you with a greater understanding than when we arrived. This may be through introducing new work practices and things to think about throughout the course of a project, or giving you an awareness of different ways to do tasks. It’s really important to us that we explain things (even technical things!) in a way that is understandable - there are no stupid questions.</p>
                <p>Outside of projects we provide training through workshops, coaching and mentoring.</p>
                <a href="/services/workshops/intro-to-digital-transformation/" class="button large">Current workshops</a>
            </div>
        </div>

        <div class="row breathe-t breathe-b">
            <div class="small-12 medium-5 columns">
                <img class="image-soften-shape-alt" src="/img/projects/wshop.jpg">
            </div>
            <div class="small-12 medium-7 columns breathe-t">
                <h3>Advice and consultancy</h3>
                <p>Perhaps you just need a little bit of advice, or want an expert eye to make a recommendation? Consultancy days can be used for areas including expert reviews of websites, establishing best practice, documentation review, technical editing, pitch support, helping with individual aspects of work that you're undertaking, or simply getting some advice.</p>
                <p>Many of our clients use our consultancy for regular support and accountability - having an expert to call in when needed - but we also offer one-off sessions in the form of a <b>one hour digital strategy consultancy session</b>, or <b>expert reviews</b>.</p>
                <a href="/services/reviews/" class="button large">Reviews</a> <a href="/services/consultancy/" class="button large">Consultancy</a>
            </div>
        </div>

        <div class="row breathe-t breathe-b">
            <div class="small-12 medium-5 columns breathe-b">
                <img class="image-soften-shape" src="/img/layout/scribble.jpg">
            </div>
            <div class="small-12 medium-7 columns breathe-t">
                <h3>Everything!</h3>
                <p>I don’t know - help me to work out what we could be doing better!</p>
                <a href="/contact/" class="button large">Get in touch</a>
            </div>
        </div>
    </section>

    {{ partial "footer" . }}
