{{ partial "base" . }}
{{ partial "thirdparty/ga" . }}
{{ partial "nav" . }}

<div id="waveholder" class="topbar-unfix">

    <div class="intro-banner callout large">
    <div class="row" style="justify-content: center;">
        <div class="column small-12 large-9">
            <h1 style="color:#305A5C;">{{ .Title }}</h1>
            <p style="font-size:1.7em;">{{ .Params.servicessub }}</p>
        </div>
    </div>
    </div>

    <div class="bg-tm">
        <canvas id="canvas" height="100px"></canvas>
    </div>

    <section>
        <div class="row breathe-b" style="justify-content: center;">
        <div class="medium-9 column">
            {{ .Content }}
        </div>
        </div>
    </section>

    <div class="g-wrapper">
        <div class="panel">
            <h2><a href="vision-and-strategy/">Vision and strategy</a></h2>
            <p>In this workshop we'll go on a journey to map out your current relationship with digital, and understand where it should go next.</p>
        </div>
        <div class="panel">
            <h2><a href="intro-to-digital-transformation/">An introduction to digital transformation</a></h2>
            <p>This one-day training workshop has been designed to give organisations a practical introduction to exercises which can help kick-start digital transformation projects, and make change happen.</p>
        </div>
        <div class="panel">
            <h2><a href="making-the-most-of-the-modern-web/">Making the most of the modern web</a></h2>
            <p>In this training workshop we’ll cover some of the exciting possibilities that the modern web brings us, and look at how these can bring benefits to both customers and your business itself.</p>
        </div>
        <div class="panel">
            <h2><a href="/contact/">Bespoke options available</a></h2>
            <p>Get in touch to create something bespoke for your individual needs.</p>
        </div>

    </div>


    <div class="bg-slope-top bg-main-alt"></div>
    <section class="bg-main-alt breathe-t breathe-b">
        <div class="row align-center">
            <div class="column small-12">
                <h2>Book a workshop</h2>
                <p>If you'd like to discuss booking this workshop for your company, please get in touch using one of the methods on our <a href="/contact">contact</a> page. It's useful if you could let us know:</p>
                <ul>
                    <li>Who you and your company are</li>
                    <li>Where you're based</li>
                    <li>How many people you would want to attend</li>
                    <li>If you have a timescale in mind</li>
                </ul>
                <p>We'll then be able to get back to you with an indication of costs and a plan.</p>
                <a class="button large" href="/contact/">Book now</a>
            </div>
        </div>
    </section>

    {{ partial "footer" . }}
