{{ partial "base" . }}
{{ partial "thirdparty/ga" . }}
{{ partial "nav" . }}

<div id="waveholder" class="topbar-unfix">

    <div class="intro-banner callout large">
    <div class="row" style="justify-content: center;">
        <div class="column small-12 large-9">
            <h1 style="color:#305A5C;">{{ .Title }}</h1>
            <p style="font-size:1.7em;">{{ .Params.servicessub }}</p>
        </div>
    </div>
    </div>

    <div class="bg-tm">
        <canvas id="canvas" height="100px"></canvas>
    </div>

    <section>
        <div class="row" style="justify-content: center;">
        <div class="medium-9 column">
            {{ .Content }}
        </div>
        </div>
    </section>

    {{if eq .Params.longcontent true}}
        <section>
            <img src="/img/layout/postitspens.jpg" class="image-full-clip" />
        </section>

        <section>
            <div class="row breathe-t breathe-b" style="justify-content: center;">
            <div class="medium-9 column">
                {{ partial "workshops/digitaltrans/topicsobj.html" . }}
            </div>
            </div>
        </section>
    {{ end }}

    <section>
        <div class="row breathe-b" style="justify-content: center;">
        <div class="medium-9 column">

            <h2>Who’s leading the workshop?</h2>

            <div class="row" class="breathe-t">
                <div class="small-12 medium-4 columns breathe-t text-center">
                        <img src="/img/people/sally.jpg" alt="Sally Lait" style="border-radius:50%;" />
                </div>
                <div class="small-12 medium-8 columns breathe-t">
                    <p><b>Sally Lait</b> is a senior digital transformation consultant based in the UK. A former Head of Technology agency-side, her company Records Sound the Same now helps organisations like the Manor Racing F1 team, RNLI, Inghams, and Ski Total to evolve their relationship with the web and digital technologies. The merging of user-led thinking, innovation, and solid technical principles is what drives her work - helping people to understand opportunities for change, their choices, and how to make these happen. Sally speaks at events around the world, documents Japanese train stamps and manholes, is an Open Data Institute Associate, and tweets as <a href="http://twitter.com/sallylait">@sallylait</a>.</p>
                </div>
            </div>

        </div>
        </div>
    </section>

    <div class="bg-slope-top bg-main-alt"></div>
    <section class="bg-main-alt breathe-t breathe-b">
        <div class="row align-center">
            <div class="column small-12">
                <h2>Book a workshop</h2>
                <p>If you'd like to discuss booking this workshop for your company, please get in touch using one of the methods on our <a href="/contact">contact</a> page. It's useful if you could let us know:</p>
                <ul>
                    <li>Who you and your company are</li>
                    <li>Where you're based</li>
                    <li>How many people you would want to attend</li>
                    <li>If you have a timescale in mind</li>
                </ul>
                <p>We'll then be able to get back to you with an indication of costs and a plan.</p>
                <a class="button large" href="/contact/">Book now</a>
            </div>
        </div>
    </section>

    {{ partial "footer" . }}
