<h2>What we’ll look at</h2>

<ul>
    <li>An <b>introduction to digital transformation</b>.
        <ul>
            <li>What it means for your company, and everyone as individuals.</li>
            <li>Understanding public-facing, and internal transformation.</li>
        </ul>
    </li>
    <li>A <b>typical transformation process</b> and activities.
        <ul>
            <li>Overview of an assortment of areas to look at, including what we’ll cover during the session.</li>
        </ul>
    </li>
    <li>Understanding <b>perspectives</b>.
        <ul>
            <li>Look at opportunities and challenges through different lenses.</li>
            <li>Understanding prioritisation and impact.</li>
        </ul>
    </li>
    <li><b>Service blueprinting</b> and other mapping techniques.
        <ul>
            <li>Mapping processes, technology, responsibilities and more.</li>
        </ul>
    </li>
    <li>Thinking about the <b>future</b>.</li>
    <li><b>Capturing ideas</b>.</li>
    <li>How to <b>make change happen</b>.</li>
</ul>

<h2>Learning objectives</h2>
<p>By participating in this workshop you’ll come away with:</p>
<ul>
<li>An understanding of how and where your organisation could benefit from transformation.</li>
<li>The knowledge of how to run a number of activities internally (you’ll be provided references to take away) in order to understand opportunities, set out a vision, plan, and execute.</li>
</ul>
